<a href="https://colab.research.google.com/github/MeghanaDuddi37/Python-programs/blob/main/PYTHON_self.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=1
print(a)

1

Smallest pair

In [4]:
def ProductSmallestPair(sum, arr):
    # Check if the array is empty or has less than 2 elements
    if not arr or len(arr) < 2:
        return -1

    # Sort the array to get the smallest two elements easily
    arr.sort()

    # Check if the sum of the smallest two elements is less than or equal to the given sum
    if arr[0] + arr[1] <= sum:
        return arr[0] * arr[1]
    else:
        return 0
        sum_value = 9
arr = [5, 2, 4, 3, 9, 7, 1]
result = ProductSmallestPair(sum_value, arr)
print(result)  # Output: 2

2

SyntaxError: invalid syntax (<ipython-input-1-7008370929c8>, line 2)

In [ ]:
# Initialize a list of students where each student is a dictionary
students = [
    {'name': 'Alice', 'grades': [88, 92, 85]},
    {'name': 'Bob', 'grades': [78, 81, 77]},
    {'name': 'Charlie', 'grades': [90, 89, 94]}
]


initial_state = [
    {'name': student['name'], 'grades': student['grades'], 'average': sum(student['grades']) / len(student['grades'])}
    for student in students
]


students.append({'name': 'David', 'grades': [85, 87, 90]})


after_adding = [
    {'name': student['name'], 'grades': student['grades'], 'average': sum(student['grades']) / len(student['grades'])}
    for student in students
]


for student in students:
    if student['name'] == 'Alice':
        student['grades'] = [91, 93, 89]
        break

after_updating = [
    {'name': student['name'], 'grades': student['grades'], 'average': sum(student['grades']) / len(student['grades'])}
    for student in students
]


for i, student in enumerate(students):
    if student['name'] == 'Bob':
        students.pop(i)
        break


after_removal = [
    {'name': student['name'], 'grades': student['grades'], 'average': sum(student['grades']) / len(student['grades'])}
    for student in students
]


students.sort(key=lambda student: sum(student['grades']) / len(student['grades']))


after_sorting = [
    {'name': student['name'], 'grades': student['grades'], 'average': sum(student['grades']) / len(student['grades'])}
    for student in students
]


if students:
    top_student = max(students, key=lambda student: sum(student['grades']) / len(student['grades']))
    top_student_info = {'name': top_student['name'], 'average': sum(top_student['grades']) / len(top_student['grades'])}
else:
    top_student_info = None


results = {
    'Initial State': initial_state,
    'After Adding': after_adding,
    'After Updating': after_updating,
    'After Removal': after_removal,
    'After Sorting': after_sorting,
    'Top Student': top_student_info
}

results

{'Initial State': [{'name': 'Alice',
   'grades': [88, 92, 85],
   'average': 88.33333333333333},
  {'name': 'Bob', 'grades': [78, 81, 77], 'average': 78.66666666666667},
  {'name': 'Charlie', 'grades': [90, 89, 94], 'average': 91.0}],
 'After Adding': [{'name': 'Alice',
   'grades': [88, 92, 85],
   'average': 88.33333333333333},
  {'name': 'Bob', 'grades': [78, 81, 77], 'average': 78.66666666666667},
  {'name': 'Charlie', 'grades': [90, 89, 94], 'average': 91.0},
  {'name': 'David', 'grades': [85, 87, 90], 'average': 87.33333333333333}],
 'After Updating': [{'name': 'Alice', 'grades': [91, 93, 89], 'average': 91.0},
  {'name': 'Bob', 'grades': [78, 81, 77], 'average': 78.66666666666667},
  {'name': 'Charlie', 'grades': [90, 89, 94], 'average': 91.0},
  {'name': 'David', 'grades': [85, 87, 90], 'average': 87.33333333333333}],
 'After Removal': [{'name': 'Alice', 'grades': [91, 93, 89], 'average': 91.0},
  {'name': 'Charlie', 'grades': [90, 89, 94], 'average': 91.0},
  {'name': 'David', 'grades': [85, 87, 90], 'average': 87.33333333333333}],
 'After Sorting': [{'name': 'David',
   'grades': [85, 87, 90],
   'average': 87.33333333333333},
  {'name': 'Alice', 'grades': [91, 93, 89], 'average': 91.0},
  {'name': 'Charlie', 'grades': [90, 89, 94], 'average': 91.0}],
 'Top Student': {'name': 'Alice', 'average': 91.0}}

In [ ]:
def DectoNBase(n, num):
    if n < 2 or n > 36:
        return ""

    digits = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    result = ""

    while num > 0:
        remainder = num % n
        result = digits[remainder] + result
        num //= n

    return result

# Example usage
n = 12
num = 718
result = DectoNBase(n, num)
print("Output:", result)  # Output: 4BA

Output: 4BA

In [ ]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [ ]:
m=e=g=7
print(m)
print(e)
print(g)

7
7
7

In [ ]:
abc4343=3
print(id(abc4343))

132060581822768

In [ ]:
def reverse_string(str):
  if len(str)==0:
    return-1
  else:
    words=str.split()
    words.reverse()
    str=" ".join(words)
    return str
str=input()
print(reverse_string(str))

hgf hgk
hgk hgf

REVERSE STRING

In [ ]:
def reverse_string(str):
  if len(str)==0:
    return-1
  else:
     words=str.split()
     words.reverse()
     str=" ".join(words)
     return str
str=input()
print(reverse_string(str))

meghana duddi
duddi meghana

RATS FOOD

In [ ]:
def minimum_houses(r,unit,arr):
  if arr is None:
     return-1
  total_food_required=r*unit
  current_food=0
  for i in range(len(arr)):
    current_food+=arr[i]
    if current_food>=total_food_required:
      return i+1
      return 0
r=7
unit=2
n=8
arr=[2,8,3,5,7,4,1,2]
print(minimum_houses (r,unit,arr))

4

CHARACTER REPLACEMENT

In [ ]:
def replacecharacter(char_str,char_ch1,char_ch2):
  if len(char_str)==0:
    return -1
  else:
    char_str=char_str.replace(char_ch1,char_ch2)
    return char_str
char_str=input()
char_ch1=input()
char_ch2=input()
print(replacecharacter(char_str,char_ch1,char_ch2))

KANCHANA
K
V
VANCHANA

In [ ]:
def findCount(arr,  length, num, diff):
    count = 0
    for i in range(length):
        if abs(arr[i] - num) <= diff:
            count += 1
    return count if count > 0else -1

# Example usage:
arr = [12, 3, 14, 56, 77, 13]
num = 13
diff = 2
result = findCount(arr, len(arr), num, diff)
print(result)  # Output should be 3

3

longest common subsequence

In [ ]:
def longest_common_subsequence(X, Y):
    m = len(X)
    n = len(Y)


    L = [[0] * (n + 1) for i in range(m + 1)]


    for i in range(m + 1):
        for j in range(n + 1):
            if i == 0 or j == 0:
                L[i][j] = 0
            elif X[i-1] == Y[j-1]:
                L[i][j] = L[i-1][j-1] + 1
            else:
                L[i][j] = max(L[i-1][j], L[i][j-1])

    # L[m][n] contains the length of LCS for X[0..m-1], Y[0..n-1]
    return L[m][n]

# Example usage
X = "ABCBDAB"
Y = "BDCABA"
print(f"The length of the LCS is {longest_common_subsequence(X, Y)}")

The length of the LCS is 4

In [ ]:
def findCount(arr, length, num, diff):
   count = 0
   for i in range(length):
    if abs(arr[i]-num)<=diff:
      count+=1
    return count if count>0else -1
arr=[12,3,14,56,77,13]
num=13
diff=2
result=findCount(arr, len(arr), num, diff)
print(result)

1